.example-card {
    max-width: 350px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.portfolio-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-body {
    font-size: 0.8rem;
}

mat-card {
    margin: auto !important;
}