<!--h1>Component MAIN</h1>

<a routerLink="/gianmarco">prueba2</a>-->
<!-- CON SRC SET DEFINIMOS QUE IMAGEN QUEREMOS MOSTRAR DEPENDIENDO DEL ANCHO DE PANTALLA -->
<div class="container main-espacio">
    <div class="row">
        <div class="col-4 text-center" routerLink="/gianmarco" >
            Sobre mí
        </div>
        <div class="col-4 text-center">
            Aptitudes y Experiencia
        </div>
        <div class="col-4 text-center">
            Portfolio
        </div>
    </div>
</div>