.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.aptitudes-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}