<mat-toolbar class="footer">
    <span class="footer-centrado" (click)="openDialog()">
        Contacto / Curriculum
    </span>
</mat-toolbar>

<!--

    <a href="https://www.linkedin.com/in/gianmarcoo/" target="_blanck"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/zerahtul/" target="_blanck"><i class="fab fa-instagram black"></i></a>
    <a href="https://twitter.com/Gianmaarco" target="_blanck"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/GSCordova" target="_blanck"><i class="fab fa-github black"></i></a> 

-->