<mat-toolbar class="header-background">
    <mat-toolbar-row>
        <span class="header-icon" routerLink="/">Gianmarco Segura</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon header-icon" 
                matTooltip="Cambia el diseño"
                matTooltipPosition="below"
                [matMenuTriggerFor]="menu"
                >format_color_fill
        </mat-icon>
        <mat-icon class="example-icon header-icon"
                matTooltip="Idioma"
                matTooltipPosition="below"
                (click)='changeIdioma()'>language</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<!--button mat-button [matMenuTriggerFor]="menu">Menu</button-->
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>