<mat-toolbar class="header-background">
    <mat-toolbar-row>
        <span class="header-icon" routerLink="/">Gianmarco Segura</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon header-icon" 
                matTooltip="Cambia el diseño"
                matTooltipPosition="below"
                [matMenuTriggerFor]="menu"
                >format_color_fill
        </mat-icon>
        <mat-icon class="example-icon header-icon"
                matTooltip="{{ idioma }}"
                matTooltipPosition="below"
                (click)='changeLanguage(idioma)'>language</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<!--button mat-button [matMenuTriggerFor]="menu">Menu</button-->
<mat-menu #menu="matMenu">
  <button mat-menu-item> Primero </button>
  <button mat-menu-item> Segundo </button>
</mat-menu>