
<!-- Header -->
<mat-toolbar class="header-background">
  <mat-toolbar-row>
    <span>Gianmarco Segura</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon header-icon" 
              matTooltip="Cambiar el estilo"
              matTooltipPosition="below">format_color_fill
    </mat-icon>
    <mat-icon class="example-icon"
              matTooltip="Cambiar el idioma"
              matTooltipPosition="below">language</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Router -->


<!-- Footer -->
<mat-toolbar class="footer">
  <span class="footer-centrado" (click)="openDialog()">
    Contacto<mat-icon class="example-icon">contacts</mat-icon>
  </span>
</mat-toolbar>