
<!-- CON SRC SET DEFINIMOS QUE IMAGEN QUEREMOS MOSTRAR DEPENDIENDO DEL ANCHO DE PANTALLA -->
<div class="container" style="margin-top: 100px">
    <div class="row">
        <div class="col-4 text-center">
            <div class="button_cont" text-align="center" >
                <a class="example_c" href="#" routerLink="/gianmarco" rel="nofollow noopener">
                    Sobre mí
                </a>
            </div>
        </div>
        <div class="col-4 text-center">
            <div class="button_cont" text-align="center" >
                <a class="example_c" href="#" routerLink="/aptitudes" rel="nofollow noopener">
                    Aptitudes & Experiencia
                </a>
            </div>
        </div>
        <div class="col-4 text-center">
            <div class="button_cont" text-align="center" >
                <a class="example_c" href="#" routerLink="/portfolio" rel="nofollow noopener">
                    Portfolio
                </a>
            </div>
        </div>
    </div>
    
</div>