<!--h1>Component MAIN</h1>

<a routerLink="/gianmarco">prueba2</a>-->
<!-- CON SRC SET DEFINIMOS QUE IMAGEN QUEREMOS MOSTRAR DEPENDIENDO DEL ANCHO DE PANTALLA -->
<div class="container main-espacio">
    <div class="row" style="align-items: center">
        <div class="col-4 text-center">
            <img src="./../../../assets/sobremi.png" routerLink="/gianmarco" alt="sobremi_error" srcset="">
        </div>
        <div class="col-4 text-center">
            <img src="./../../../assets/aptitudes.png" alt="" srcset="">
        </div>
        <div class="col-4 text-center">
            <img src="./../../../assets/portfolio.png" alt="" srcset="">
        </div>
    </div>
</div>