
.main-espacio {
    margin-top: 40px;
}

.main-espacio img {
    width: 225px;
    margin-bottom: 15px;
}

.main-espacio .text-center:focus, img:focus {
    outline: none;
}

.main-espacio p {
    margin-top: 15px;
}

.main-espacio img:hover {
    opacity: 0.85;
    cursor: pointer;
}
